#mde-preview.markdown-body

= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.text_area :content, id: 'mde'
  .field
    = f.label :answer
    = f.text_field :answer, value: f.object.answer.to_s, required: true
  .actions
    = f.submit 'Save'

:coffee
  textArea = document.getElementById('mde')
  mde = new SimpleMDE(
    autofocus: true
    element: textArea
  )
  previewArea = document.getElementById('mde-preview')
  previewArea.innerHTML = mde.markdown(mde.value())
  mde.codemirror.on 'change', ->
    previewArea.innerHTML = mde.markdown(mde.value())
