%h1 Listing questions

%table
  %thead
    %tr
      %th Content
      %th Answer
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.content
        %td= question.answer
        %td= link_to 'Quiz', quiz_question_path(question)
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
