%h1.title Quiz

- if notice
  %p#notice= notice

- if flash[:quiz_answer]
  - if flash[:quiz_result]
    .notification.is-primary
      %p= 'Correct Answer!'
      %p= "Your answer: #{flash[:quiz_answer]}"
  - else
    .notification.is-danger
      %p= 'Incorrect Answer!'
      ="Your answer: #{flash[:quiz_answer]}"

.card
  .card-content
    = render 'markdown', text: @question.content

%hr
- unless flash[:quiz_answer]
  = form_for :quiz, url: quiz_question_path(@question), method: :post do |f|
    .field
      %label.label= f.label :answer
      .control= f.text_field :answer, value: nil, required: true, class: 'input'

    .field
      %button.button.is-primary= 'Check Answer'

- else
  = link_to 'Try Again', quiz_question_path, class: ['button']
  = link_to 'Show Answer', question_path, class: ['button']
  = link_to 'Back to List', questions_path, class: ['button']
