%p#notice= notice
%p="Your answer: #{flash[:quiz_answer]}"

%b Content:
= render 'formatted_md_text', markdown: @question.content.to_s

= form_for :quiz, url: quiz_question_path(@question), method: :post do |f|
  .field
    = f.label :answer
    = f.text_field :answer, value: nil, required: true
  .actions
    = f.submit 'Check Answer'

= link_to 'Back', questions_path
