%p#notice= notice

%p
#mde-preview

  %b Content:
  = render 'formatted_md_text', markdown: @question.content.to_s

%p
  %b Answer:
  = @question.answer

= link_to 'Quiz', quiz_question_path(@question)
\|
= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', questions_path
