%h1.title Question and Answer

- if notice
  .notification.is-primary= notice

.card
  .card-content
    = render 'formatted_md_text', markdown: @question.content
    .container
      %hr
      %p= "Answer: <i>#{@question.answer}</i>".html_safe
  %footer.card-footer
    = link_to 'Edit', edit_question_path(@question), class: 'card-footer-item'
    = link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item'

%hr
= link_to 'Back to List', questions_path, class: 'button'
